nav {
    background-color: var(--bg-primary-brand) !important;
    a {
        color: var(--text-secondary-inverted) !important;
    }

    padding: var(--spacing-s) var(--spacing-none);
    font-size: var(--font-size-2xl);
    margin-bottom: var(--spacing-l);
}