.app-main-layout {
  display: flex;
  height: calc(100vh - 65px); // Assuming navbar is around 65px
  overflow: hidden;
  position: relative;
}

.sidebar-container {
  position: relative;
  height: 100%;
  display: flex;
  z-index: 1000;
}

.content {
  flex: 1;
  transition: all 0.3s ease-in-out;
  background-color: var(--bg-secondary-neutral);
  overflow-y: auto;
  height: 100%;

  &-inner {
    padding: var(--spacing-xl);
    max-width: 1200px;
    margin: 0 auto;
  }
}

.sidebar-toggle-btn {
  position: absolute;
  top: var(--spacing-m);
  right: -32px; // Adjusted to stay visible on the edge
  background-color: var(--bg-primary-inverted);
  border: none;
  color: var(--text-secondary-inverted);
  padding: var(--spacing-xs);
  border-top-right-radius: var(--border-radius-m);
  border-bottom-right-radius: var(--border-radius-m);
  cursor: pointer;
  z-index: 1001;
  box-shadow: var(--effects-drop-shadow-m);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--bg-primary-inverted-hover);
  }
}
