.sidebar {
  background-color: var(--bg-primary-inverted);
  color: var(--text-secondary-inverted);
  height: 100%;
  width: 250px;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  box-shadow: var(--effects-drop-shadow-m);
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  position: relative;
}

.sidebar-logo {
  color: var(--text-secondary-inverted);
  text-decoration: none;
  font: var(--desktop-heading-bold-2xl);
  text-align: center;
}

.sidebar-toggle-btn {
    color: var(--text-secondary-inverted);
    background-color: var(--purpose-primary-brand);
}

.sidebar-menu {
  padding: 1rem 0;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.sidebar-menu-item {
  position: relative;
}

.sidebar-item {
  display: flex;
  align-items: center;
  color: var(--text-secondary-inverted);
  text-decoration: none;
  padding: var(--spacing-s) var(--spacing-m);
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-primary-inverted-hover);
  }

  &.menu-item-active {
    background-color: var(--bg-primary-inverted-active);
  }

  i {
    margin-right: var(--spacing-s);

    &.sidebar-item-arrow {
      margin-left: auto;
      font-size: var(--font-size-xs);
      transition: transform 0.3s ease;

      &.rotated {
        transform: rotate(180deg);
      }
    }
  }

  &-text {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  &.has-children {
    position: relative;
  }
}

.sidebar-submenu {
  background-color: var(--bg-primary-inverted-active);

  .sidebar-item {
    padding-left: 3rem;
    font: var(--desktop-body-regular-s);
  }
}

.sidebar-collapsed {
  width: 50px;

  .sidebar-menu-item {
    position: static;
  }

  .sidebar-item {
    i {
      margin-right: 0;
    }
    &-text,
    &-arrow {
      opacity: 0;
      width: 0;
      overflow: hidden;
    }
  }

  .sidebar-submenu {
    display: none;
  }
}
