html,
body,
button,
input,
select,
textarea,
table {
  font-family: var(--font-family-font-family);
}

body {
  background: var(--bg-secondary-neutral);
  color: var(--text-primary-default);
  font: var(--desktop-body-regular-s);
}

.form-label {
  font: var(--desktop-body-regular-s);
}

.font-size-xs {
  font-size: var(--font-size-xs);
}

.font-size-2xs {
  font-size: var(--font-size-2xs);
}
